# Copier ce fichier en .env et remplir les valeurs
DATABASE_URL=postgresql://user:password@localhost:5432/oulf_db
SECRET_KEY=changez-cette-cle-secrete-en-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ADMIN_EMAIL=admin@oulf.dz
ADMIN_PASSWORD=changez-ce-mot-de-passe
